html,
body {
  box-sizing: border-box;
  font-family: "Muli-Regular", sans-serif;
}

@font-face {
  font-family: "Muli-Bold";
  src: url(../fonts/Muli-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Muli-BoldItalic";
  src: url(../fonts/Muli-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Muli-ExtraBold";
  src: url(../fonts/Muli-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "Muli-Italic";
  src: url(../fonts/Muli-Italic.ttf);
}
@font-face {
  font-family: "Muli-Regular";
  src: url(../fonts/Muli-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Muli-Semi-BoldItalic";
  src: url(../fonts/Muli-Semi-BoldItalic.ttf);
}
/* Style for Header */
.header {
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url(../images/header/header-bg-img\ original.png);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
/* Genera style for header top  */
.header__container {
  max-width: 1710px;
  height: 31px;
  padding: 100px 100px 100px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
  position: relative;
}
.header__nav {
  width: 640px;
  height: 39px;
}
.nav {
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav__item {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  text-decoration: none;
  font-family: "Muli-Regular", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #fff;
}
.heading-title {
  visibility: hidden;
}
.header__logo {
  padding: 0;
  position: absolute;
  right: 45%;
  padding: 0;
}
.logo {
}
.logo__link {
}
.logo__img {
  width: 211px;
  height: 72px;
}
.header__right-block {
  /* width: 600px; */
  display: flex;
  justify-content: space-between;
}
.header__personal {
}
.personal {
}
.personal__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  position: relative;
}
.personal__item {
}
.personal__link {
  padding-left: 30px;
}
.personal__icon-search {
}
.personal__icon-user {
  width: 20px;
  height: 24px;
}
.personal__cart-icon {
}

.personal__cart-count {
  width: 6px;
  height: 7px;
  font-family: Muli-Bold;
  font-size: 10px;
  color: #000000;
  position: absolute;
  top: -50%;
  right: -10%;
  width: 16px;
  height: 16px;
  background: white;
  padding: 3px 0px 0px 9px;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.header__social {
}
.social__list::before {
  content: "";
  display: block;
  width: 47px;
  height: 2px;
  margin: 10px 65px 0px 33px;
  background: #ffd68f;
}
.social {
}
.social__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.social__item {
  display: flex;
  justify-content: space-between;
}
.socila__link {
  padding-right: 28px;
}
.social__icon {
  width: 10px;
  height: 17px;
  background-color: #fff;
  background-position: 0% 0%;
  background-size: 150px, 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.header__btn {
  width: 270px;
  height: 70px;
  align-self: center;
}
.btn {
  border-radius: 35px;
  font-size: 24px;
  font-family: "Muli-ExtraBold", sans-serif;
}
.btn--green {
  background-color: #0aa566;
  color: white;
  position: relative;
}
.btn--green::after {
  content: "";
  display: block;
  background-image: url(../images/header/arrow-png.png);
  width: 30px;
  height: 16px;
  position: absolute;
  top: 40%;
  right: 7%;
}

.smoothie {
}
.smoothie__title {
  text-align: center;
  color: #f7ae3b;
  padding: 0 0 55px 0;
}
.title {
  font-family: "Muli-ExtraBold";
}
.smoothie__text {
  text-align: center;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 1.94;
  padding: 0px 457px 55px;
}
.smoothie__wrap {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 250px 250px 250px 250px;
  padding: 0px 457px;
}
.smoothie__box {
  text-align: center;
  border: 1px solid red;
  padding: 20px 0 0 0;
}
.smoothie__img {
  width: 79px;
  height: 68px;
  /* margin: 35px 2px 21px 10px;
  object-fit: contain; */
  /* background-color: #612a16 */
}
.about {
}
.about__wrap {
  display: flex;
  justify-content: space-evenly;
  /* width: 1920px;
  height: 800px; */
  margin: 0;
  padding: 64px 356px 94px 143px;
  background-color: #14826f;
}
.about__img {
  width: 690px;
  height: 818px;
}
.about__text {
  margin-left: 170px;
}
.about__title {
  font-family: "Muli-ExtraBold";

  font-size: 55px;
  line-height: 60px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.title {
}
.about__list {
}
.about__item {
}
.about__item-thin {
}
.about__btn {
}
.btn {
}
.products {
  display: flex;
  justify-content: space-between;
}
.products__wrap {
  width: 25%;
  height: 720px;
  align-items: center;
}

.products__wrap--choco {
  background-color: #602814;
}
.products__img {
  display: flex;
  justify-content: center;
}
.products__title {
}
.products__size {
}
.btn__buy {
}
.btn--choco {
}
.products__wrap--vegan {
  background-color: #188274;
}
.btn--vegan {
}
.products__wrap--ginger {
  background-color: #f7ae3b;
}
.btn--ginger {
}
.products__wrap--garlic {
  background-color: #c24419;
}
.btn--garlic {
}
.story {
  display: flex;
}
.story__title {
  text-align: center;

  font-size: 50px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #f7ae3b;
}
.story__wrap {
  display: flex;
  flex-direction: column;
}
.story__box {
  display: flex;

  justify-content: center;
  align-items: center;
  max-width: 512px;
}
.story__text {
  text-align: center;

  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  color: #1e1e1e;
}
.story__btn {
}
.btn--green {
}
.story__img-wrap {
  display: flex;
  justify-content: right;
}
.story__img {
}
/* Set style for testimonials */
.testimonials {
  background-color: #64301b;
  background-image: url(../images/Testimonials/sarah_a_bg.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.6;
  /* font-family: Muli; */
  font-size: 200px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #521905;
}
.testimonials__wrap {
}
.testimonials__box {
}
.testimonials__title {
  font-size: 50px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #f7ae3b;
}
.testimonials__text {
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  color: #ffffff;
}
.testimonials__quote {
  font-size: 18px;
  line-height: 45px;
  font-weight: 600;
  font-style: italic;
  color: #f7ae3b;
}
.testimonials__img {
  width: 220px;
  height: 218px;
}
.testimonials__slider {
}
.testimonials__btn-right {
}
.testimonials__btn-left {
}
/* Style for section Blog */
.blog {
  display: flex;
}
.blog__wrap {
  display: flex;
  justify-content: left;
}
.blog__title {
  text-align: left;
  font-size: 50px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #f7ae3b;
}
.blog__img {
  /* width: 555px;
height: 400px; */
}
.blog__article {
}
.blog__article-subtitle {
  font-family: "Muli-Bold";
  font-size: 30px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #f2612d;
}
.blog__article-time {
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
  color: #1e1e1e;
}
.blog__text {
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  color: #1e1e1e;
}
.blog__link {
}
.blog__link-item {
  font-size: 18px;
  line-height: 35px;
  font-weight: 800;
  font-style: italic;
  color: #1e1e1e;
}
/* Style for instagram */
.instagram {
}
.instagram__title {
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #0aa566;
}
.instagram__wrap {
  display: flex;
}
.instagram__inner {
  display: flex;
  justify-content: space-between;
}
.instagram__wrap-img {
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
}
.instagram__img {
  width: 384px;
  height: 384px;
}
/* Style for footer */
.footer {
}
.footer__top {
  background-color: #f6a93e;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 211px;
height: 72px;
}
.logo {
}
.logo__link {
}
.logo__img {
}
.footer__info {
}
.footer__title {
  
font-size: 26px;
line-height: 40px;
font-weight: 800;
letter-spacing: -0.02em;
color: #ffffff;
}
.footer__list {
}
.footer__item {
}
.info__link {
  
font-size: 18px;
line-height: 35px;
font-weight: 700;
letter-spacing: -0.02em;
color: #6d450c;
}
.footer__payment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap ;
.footer__img {
  display: flex;
  align-items: center;
  

}
.footer__subscribe {
}
.footer__title-subscribe {
  
font-size: 26px;
line-height: 40px;
font-weight: 800;
letter-spacing: -0.02em;
color: #ffffff;
}
.footer__social {
}
.social {
}
.social__heading {
  
font-size: 18px;
line-height: 40px;
font-weight: 800;
text-transform: uppercase;
letter-spacing: -0.02em;
color: #6d450c;
}
.footer__social-list {
}
.footer__social-item {
}
.social__item {
}
.socila__link {
}
.footer__icon {
}
.footer_social-item {
}
.social__link {
}
.footer__small {
  
font-size: 13px;
line-height: 35px;
font-weight: 400;
letter-spacing: 0.02em;
color: #af8a82;
}
.footer__bottom-arrow {
}
.footer__bottom-text {
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.footer__go-top {
}
