@font-face {
  font-family: "Muli-Bold";
  src: url(../fonts/Muli-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Muli-BoldItalic";
  src: url(../fonts/Muli-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Muli-ExtraBold";
  src: url(../fonts/Muli-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "Muli-Italic";
  src: url(../fonts/Muli-Italic.ttf);
}

@font-face {
  font-family: "Muli-Regular";
  src: url(../fonts/Muli-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Muli-Semi-BoldItalic";
  src: url(../fonts/Muli-Semi-BoldItalic.ttf);
}

html,
body {
  box-sizing: border-box;
  font-family: "Muli-Regular", sans-serif;
}

/* Style for Header */
.header {
  color: white;
  background-image: url(../images/header/header-bg-img\ original.png);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 100px;
}

/* Genera style for header top  */
.header__container {
  max-width: 1710px;
  margin: 0 auto;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header__nav {
  margin-right: 35px;
}

.header__nav:last-child {
  margin: 0px;
}

.nav {
}

.nav__list {
  display: flex;

  align-items: center;
  list-style: none;
  padding-left: 0;
}

.nav__item {
  margin-left: 35px;
}

.nav__link {
  text-decoration: none;
  font-family: "Muli-Regular", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #fff;
}

.heading-title {
  visibility: hidden;
}

.header__logo {
  padding: 0;
  position: absolute;
  right: 45%;
  padding: 0;
}

.logo {
}

.logo__link {
}

.logo__img {
  width: 211px;
  height: 72px;
}

.header__right-block {
  display: flex;
}

.header__personal {
}

.personal {
}

.personal__list {
  display: flex;
  list-style: none;

  position: relative;
}

.personal__item {
  margin-right: 45px;
}

.personal__item:last-child {
  margin: 0px;
}

.personal__link {
}

.personal__icon-search {
}

.personal__icon-user {
  width: 20px;
  height: 24px;
}

.personal__cart-icon {
}

.personal__cart-count {
  width: 6px;
  height: 7px;
  font-family: Muli-Bold;
  font-size: 10px;
  color: #000000;
  position: absolute;
  top: -50%;
  right: -10%;
  width: 16px;
  height: 16px;
  background: white;
  padding: 3px 0px 0px 9px;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.header__social {
}

.social__list::before {
  content: "";
  display: block;
  width: 47px;
  height: 2px;
  margin: 10px 38px 0px 48px;
  background: #ffd68f;
}

.social {
}

.social__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0px;
}

.social__item {
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.social__item:last-child {
  margin: 0px;
}

.socila__link {
}

.social__icon {
}

.header__btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__btn {
  width: 270px;
  height: 70px;
  margin-top: 105px;
}

.btn {
  border-radius: 35px;
  font-size: 24px;
  font-family: "Muli-ExtraBold", sans-serif;
}

.btn--green {
  background-color: #0aa566;
  color: white;
  position: relative;
}

.btn--green::after {
  content: "";
  display: block;
  background-image: url(../images/header/arrow-png.png);
  width: 30px;
  height: 16px;
  position: absolute;
  top: 40%;
  right: 7%;
}

/* Style for section smoothies  */
.smoothie {
  padding: 100px 0;
}

.smoothie__title {
  text-align: center;
  color: #f7ae3b;
}

.title {
  font-family: "Muli-ExtraBold";
}

.smoothie__text {
  text-align: center;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 1.94;
  max-width: 905px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.smoothie__conteiner {
  max-width: 1000px;
  display: flex;
}

.smoothie__wrap {
  justify-content: center;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
}

.smoothie__box {
  text-align: center;
  border-bottom: 1px solid #f6edde;
  padding: 20px 0 0 0;
}

.smoothie__box:last-of-type {
  border-bottom: none;
}

.smoothie__img {
  width: 79px;
  height: 68px;
}

/* Style for section about smoothies */
.about {
}

.about__wrap {
  display: flex;
  justify-content: center;
  background-color: #14826f;
  min-height: 765px;
}

.about__img {
  width: 690px;
  height: 818px;
  z-index: 100;
  transform: translate(-23%, 10%);
  -webkit-transform: translate(-23%, 10%);
  -moz-transform: translate(-23%, 10%);
  -ms-transform: translate(-23%, 10%);
  -o-transform: translate(-23%, 10%);
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-right: 80px; */
}

.about__title {
  text-align: center;
  font-family: "Muli-ExtraBold";
  font-size: 55px;
  line-height: 60px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #ffffff;
  position: relative;
  max-width: 590px;
}

.about__title::after {
  content: url(../images/About/lineunder-text.png);
  display: block;
  position: absolute;
  top: 70%;
  left: 11%;
}

.about__title-part {
  font-size: 55px;
  line-height: 60px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #cae941;
}

.title {
}

.about__list {
  list-style-image: url(../images/About/Component.png);
  /* margin: 0 0 50px; */
}

.about__item {
  text-decoration: none;
  font-size: 21px;
  line-height: 22px;
  font-weight: 800;
  color: #ffffff;
  margin: 0 0 20px 0;
}

.about__item-thin {
  font-size: 21px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

.about__btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 20px;
  font-size: 21px;
  line-height: 22px;
  font-weight: 800;
  width: 382px;
  height: 63px;
  color: #ffffff;
  border: 2px solid #f8b231;
  border-radius: 30px;
  background-color: #118570;
  margin-bottom: 100px;
}

.about__btn::after {
  content: url(../images/About/arrow_about.png);
  display: block;
  position: absolute;
  right: 31%;
}

.btn {
}

/* set style for products */
.products {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.products__wrap {
  width: 25%;
  height: 720px;
  align-items: center;
  position: relative;
}

.products__wrap--choco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #602814;
}

.products__img {
  width: 119px;
  height: 303px;
}

.products__title {
  font-size: 24px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.products__size {
  font-size: 21px;
  line-height: 32px;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  margin-bottom: 40px;
}

.btn__buy {
  width: 207px;
  height: 63px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  color: #fff;
  text-align: left;
  padding-left: 40px;
}

.btn__buy::after {
  content: url(../images/Products/arrow_products.png);
  display: block;
  position: absolute;
  bottom: 17%;
  right: 35%;
}

.btn--choco {
  background-color: #672b13;
}

.products__wrap--vegan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #188274;
}

.btn--vegan {
  background-color: #1c8772;
}

.products__wrap--ginger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7ae3b;
}

.btn--ginger {
  background-color: #f9b13c;
}

.products__wrap--garlic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c24419;
}

.btn--garlic {
  background-color: #c74918;
}

/* Set style for Story */
.story {
  display: flex;
  margin-bottom: 160px;
}

.story__title {
  text-align: center;
  font-size: 50px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #f7ae3b;
}

.story__box {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  max-width: 512px;
  margin: 0 0 0 310px;
}

.story__text {
  text-align: left;

  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  color: #1e1e1e;
}

.story__btn {
  width: 304px;
  height: 63px;
  background-color: #0aa566;
  border-radius: 30px;
  margin-top: 58px;
}

.btn--green {
}

.story__img-wrap {
  display: flex;
  justify-content: right;
}

.story__img {
}

/* Set style for testimonials */
.testimonials {
  background-image: url(../images/Testimonials/sarah_a_bg.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #521905;
  height: 750px;
  background-color: #64301b;
  padding-top: 0px;
  padding-bottom: 90px;
  border: 1px solid red;
}

.testimonials__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.testimonials__title {
  margin: 117px -300px 0 0;
  font-size: 50px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #f7ae3b;
  margin-bottom: 270px;
}

.testimonials__title-color {
  font-size: 50px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #f2612d;
}

.testimonials__title::after {
  content: url(../images/Testimonials/dots_3973.png);
  display: block;
  top: -80px;
  right: 60px;
  position: absolute;
}

.testimonials__text {
  display: block;
  max-width: 455px;
  text-align: center;
  margin: 0 auto 30px;
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  color: #ffffff;
}

.testimonials__text::after {
  display: block;
  content: url(../images/Testimonials/img_girl.png);
  position: absolute;
  top: 40%;
  right: 22%;
}

.testimonials__quote {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 45px;
  font-weight: 600;
  font-style: italic;
  color: #f7ae3b;
}

.testimonials__slider {
  margin: 150px -300px 0 0;
  display: block;
}

.testimonials__btn-right {
  margin-right: 80px;
  background-color: #692d1d;
  border: none;
}

.testimonials__btn-right::before {
  display: block;
  content: url(../images/Testimonials/arrow__left.png);
}

.testimonials__btn-left {
  background-color: #692d1d;
  border: none;
}

.testimonials__btn-left::before {
  display: block;
  content: url(../images/Testimonials/arrow__right.png);
}

/* Style for section Blog */
.blog {
}

.blog__wrap {
  display: flex;
  position: relative;
  margin-bottom: 200px;
}

.blog__title {
  text-align: left;
  font-size: 50px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #f7ae3b;
  margin: 100px 0px 47px 360px;
}

.blog__img {
  margin-left: 360px;
  z-index: 100;
}

.blog__article::before {
  content: url(../images/ourBlog/line_3286.png);
  display: block;
  position: absolute;
  top: 50px;
  right: 310px;
}

.blog__article {
  text-align: center;
  margin-left: 124px;
  padding-top: 90px;
}

.blog__article-subtitle {
  font-family: "Muli-Bold";
  font-size: 30px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #f2612d;
}

.blog__article-time {
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
  color: #1e1e1e;
}

.blog__text {
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  color: #1e1e1e;
  max-width: 475px;
}

.blog__link {
}

.blog__link-item {
  font-size: 18px;
  line-height: 35px;
  font-weight: 800;
  font-style: italic;
  color: #1e1e1e;
}

.blog__link-item::after {
  display: block;
  content: url(../images/ourBlog/arrow_blog.png);
  position: absolute;
  bottom: 15px;
  right: 440px;
}

/* Style for instagram */
.instagram {
  position: relative;
}

.instagram__title::before {
  display: block;
  content: url(../images/Instagram/icon_instagram.png);
  position: absolute;
  left: 820px;
  top: 5px;
}

.instagram__title {
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #0aa566;
}

.instagram__wrap {
  display: flex;
}

.instagram__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.instagram__wrap-img {
}
.instagram__wrap-img::after {
  display: block;
  content: url(../images/Instagram/icon__inst_wihte.png);
  position: absolute;
  right: 15px;
  bottom: 20px;
}

.instagram__img {
  width: 100%;
  height: 100%;
}

/* Style for footer */
.footer {
}

.footer__top {
  padding: 79px 0px;
  position: relative;
  background-color: #f6a93e;
  display: flex;
  justify-content: center;
}

.footer__logo {
  position: absolute;
  left: 7%;
  top: 40%;
  width: 211px;
  height: 72px;
}

.logo {
}

.logo__link {
}

.logo__img {
}

.footer__info {
  margin-left: 510px;
}

.footer__title {
  font-size: 26px;
  line-height: 40px;
  font-weight: 800;
  /* letter-spacing: -0.02em; */
  color: #ffffff;
}

.footer__list {
  list-style: none;
  padding: 0px;
}

.footer__item {
}

.info__link {
  font-size: 18px;
  line-height: 35px;
  font-weight: 700;
  /* letter-spacing: -0.02em; */
  color: #6d450c;
}

.footer__payment {
  max-width: 265px;
  margin-left: 130px;
}
.footer__payment-box {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__img {
  margin: 0px 15px 15px 0px;
}

.footer__subscribe {
  max-width: 500px;
  margin-left: 140px;
}

.footer__title-subscribe {
  font-size: 26px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.footer__forma {
}
input {
  font-size: 16px;
  line-height: 35px;
  letter-spacing: -0.34px;
  width: 400px;
  height: 60px;
  border-radius: 45px 45px 45px 45px;
  -webkit-border-radius: 45px 45px 45px 45px;
  -moz-border-radius: 45px 45px 45px 45px;
  -ms-border-radius: 45px 45px 45px 45px;
  -o-border-radius: 45px 45px 45px 45px;
  margin-right: 100px;
  padding-left: 60px;
}
input::before {
  display: block;
  content: url(../images/footer/icon_letter.png);
  
}

.footer__social {
  display: flex;
}

.social {
}

.social__heading {
  margin-left: 180px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 40px;
  font-weight: 800;
  text-transform: uppercase;
  /* letter-spacing: -0.02em; */
  color: #6d450c;
}
.social__heading::before {
  display: block;
  content: url(../images/footer/arrow_subscribe.png);
  transform: translate(-90px);
  -webkit-transform: translate(-90px);
  -moz-transform: translate(-90px);
  -ms-transform: translate(-90px);
  -o-transform: translate(-90px);
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0px;
  margin-left: 24px;
}

.footer__social-item {
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin-right: 8px;
  align-items: center;
  background: #f9a83e;
}

.social__item {
}

.socila__link {
}

.footer__icon {
}
.footer__bottom-wrap {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #693019;
}
.footer__small {
  margin-right: 880px;
  font-size: 13px;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #af8a82;
}

.footer__bottom-arrow {
  margin-right: 160px;
}

.footer__bottom-text {
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.footer__go-top {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 5px;
  background-color: #f2662f;
  position: absolute;
  bottom: 30px;
  right: 100px;

  z-index: 101;
  position: fixed;
}
.footer__go-top::after {
  display: block;
  content: url(../images/footer/icon_go_top.png);
  padding: 10px 20px 0px;
}
